.header {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 12px;
}
.searchBox {
  height: 64px;
  background: #F0F1F2;
  border-radius: 32px;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-left: 12px;
  .icon {
    padding-left: 20px;
  }
  .searchPlaceholder {
    color: #BEBEBE;
    padding-left: 10px;
  }
}

.nosign {
  display: flex;
  justify-content: center;
  align-items: center;
  width:110px;
  height:64px;
  background:rgba(255,80,0,1);
  border-radius:62px;
  border:1px solid rgba(255,59,0,1);
  font-size:28px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  text-align: center;
}
