.avatar-and-certification{
    position: relative;
    width: 72px;
    height: 64px;
    margin-right: 10px;
  
    .user-avatar {
      position: absolute;
      width: 64px;
      height: 64px;
      border-radius: 100%;
      display: block;
      border: 0;
      z-index: 1;
    }
  
    .certification-icon{
      position: absolute;
      right: 0;
      bottom: 0;
      background: #FFFFFF;
      border-radius: 50%;
      z-index: 2;
    }
  }
  