.manifesto-container {
  background: #FBFBFB;
  border: 3px;
  padding: 30px 60px;
  color: #262626;
  font-size: 26px;
  line-height:43px;
  letter-spacing:3px;
  margin-top: 20px;

  word-wrap:break-word;
  word-break:break-all;
}
